<% provide:title, (t "home" ) %>
<div class="center jumbotron">
  <h1><%= t "home_wellcome" %></h1>

  <h2>
    <%= raw t("home_content", ruby_tut_link: link_to("Ruby on Rails", Settings.home)
    ) %>
  </h2>

  <%= link_to t("sign_up"), signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
Settings.rails %>
<!-- <%= link_to image_tag("kitten.jpg", alt: "Kitten") %> -->

